@import '@scss/utils/media_queries';

.hero {
  padding: 10rem 0 4rem;
}

.introduction {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--primary);
}

.fullname {
  font-weight: bold;
  font-size: 4.125rem;
  color: var(--c);
  margin: 0 0 2rem;
}

.description {
  font-weight: 500;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  max-width: 500px;
  display: block;
  line-height: 1.6875rem;
  margin-bottom: 2.5rem;
}
