{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-eval": 2,
    "no-extend-native": 2,
    "no-new-wrappers": 2,
    "no-with": 2,
    "no-undef": 2,
    "no-var": 2,
    "curly": 2,
    "no-extra-semi": 2,
    "no-inner-declarations": 2,
    "react/sort-prop-types": 1,
    "default-case": 2,
    "max-classes-per-file": 1,
    "react/no-unused-prop-types": 2,
    "eqeqeq": [2, "smart"]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "document": true,
    "window": true,
    "console": true
  }
}
