@import '@scss/utils/media_queries';

.intro {
  display: flex;
  width: 100%;
  padding-bottom: 20px;

  &-section {
    @keyframes slideInDown {
      0% {
        transform: translate3d(0, -20px, 0);
        visibility: visible;
        opacity: 0;
      }

      to {
        opacity: 1;
        transform: translateZ(0);
      }
    }

    flex: 0 0 50%;
    animation: slideInDown 0.5s 0.1s 1 both ease-out;

    $intro-section-padding: 20px;
    &--image {
      padding-right: $intro-section-padding;
    }

    &--details {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: $intro-section-padding;

      .fullname {
        font-weight: bold;
        font-size: 2.5rem;
        text-align: left;
        margin: 0 0 1.875rem;
        color: var(--c);
      }
      .link-item {
        color: var(--c);
        text-decoration: none;
        display: inline-flex;
        margin-bottom: 14px;
        justify-content: flex-start;
        align-items: center;

        & > [class*='icon'] {
          margin-right: 10px;
        }
        &:hover,
        &:focus {
          color: var(--primary);
        }
      }
      .btn {
        margin-top: 30px;
      }
    }
  }
}

body[class*='page-loaded'] {
  .intro-section {
    animation-play-state: running;
  }
  .intro-section--details {
    animation-delay: 0.3s;
  }
}

@include breakpoint-down(md) {
  .intro {
    flex-direction: column;

    &-section {
      &--image {
        justify-content: center;
        display: flex;
        padding: 0 20px;
      }

      &--details {
        padding: 30px 0;

        .fullname {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

@include breakpoint-down(sm) {
  .intro {
    &-section {
      &--image {
        padding: 0;
      }
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .intro-section {
    animation: none !important;
  }
}
