.footer {
  background-color: var(--footer-bg, #0c1015);
}
.row {
  padding: 0.625rem;
  text-align: center;
}

.info {
  color: var(--footer-c, #888);
  font-size: 0.875rem;
}
.link {
  @extend .info;
  text-decoration: none;
  transition: 0.2s ease;

  &:focus,
  &:hover {
    color: #ec8d10;
  }
}

.icon-num {
  display: inline-flex;
  padding: 0.1875rem 0.3125rem;
  align-items: center;
}
.icon {
  padding: 0 0.25rem;
  height: 1.25rem;
}
