.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  padding: 70px 0 20px;

  .heading {
    font-size: 2.25rem;
    text-align: left;
    margin: 0 0 0 10px;
    color: var(--primary);
    word-wrap: break-word;
    word-break: break-word;
  }
}

.timeline {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 14px;
    content: '';
    display: block;
    border-left: 4px solid var(--primary);
    height: 100%;
    z-index: 1;
  }

  &-event {
    position: relative;
    min-height: 200px;
    padding: 10px 10px 20px 50px;
    word-wrap: break-word;
    word-break: break-word;

    &-hex {
      position: absolute;
      top: 10px;
      width: 35px;
      height: 35px;
      stroke: var(--primary);
      left: 0;
      stroke-width: 16px;
      z-index: 2;
      fill: var(--bg);
    }

    .title {
      font-weight: bold;
      font-size: 1.375rem;
      color: var(--c);
      margin: 0;
    }

    .subtitle {
      color: var(--c);
      opacity: 0.7;
      font-size: 0.8125rem;
      font-weight: 300;
      line-height: 1.125rem;
      margin: 0.5rem 0 2rem;
    }

    .text {
      color: var(--c);
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.6875rem;
    }

    .btn {
      margin-top: 20px;
    }
  }
}
