@import '../../assets/styles/utils/media_queries';

.hr {
  width: 24px;
  height: 0;
  border-top: 2px solid var(--c);
  margin: 15px 0 30px;
}

.link-item {
  color: var(--c);
  text-decoration: none;
  display: inline-flex;
  margin-bottom: 14px;
  justify-content: flex-start;
  align-items: center;

  & > [class*='icon'] {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.hex {
  &-wrapper {
    $hex-wrapper-size: 300px;
    bottom: 0;
    right: 20px;
    position: absolute;
    width: $hex-wrapper-size;
    height: $hex-wrapper-size;
  }
  @keyframes dash {
    from {
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  &-white,
  &-default {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 3s linear 0.7s 1 both;
    animation-play-state: paused;
    stroke-width: 5px;
    fill: none;
    position: absolute;
    z-index: 0;
    user-select: none;
    height: 100%;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  &-white {
    stroke: var(--c);
    padding: 30px;
  }

  &-default {
    stroke: var(--primary);
  }
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -20px, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

body[class*='page-loaded'] {
  .hex-white,
  .hex-default {
    animation-play-state: running;
  }
}

@include respond-below(md) {
  .hex-wrapper {
    right: -120px;
    bottom: -120px;
  }
}

@include respond-below(sm) {
  .hex-wrapper {
    bottom: 0;
    right: -150px;
  }
}

@include respond-below(xxs) {
  .hex-wrapper {
    display: none;
  }
}
