@import '@scss/utils/media_queries';

.switchers {
  display: flex;
  margin: 0 5px;
}

.btn-lang {
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  color: var(--navbar-c, #94a6e0);
  font-size: 12px;
  padding: 3px 5px;
  margin: 0;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus,
  &.active {
    color: var(--navbar-c-h, #fff);
  }
}

@include breakpoint-down(xs) {
  .btn-lang {
    font-size: 1.125rem;
    padding: 5px 8px;
    margin: 0 5px;
  }
}
