:root[data-theme='light'] {
  --none: transparent;
  --bg: #fff;
  --c: #1e1e1e;
  --footer-bg: #f1f1f1;
  --footer-c: #1e1e1e;
  --icon-react: #61dafb;
  --navbar-bg: #f1f1f1;
  --navbar-c-h: #000;
  --navbar-c: #1e1e1e;
  --navbar-hex-bg: #e7e7e7;
  --primary: #4ec9a7;
}
