:root {
  --none: transparent;
  --bg: #fff;
  --c: #1e1e1e;
  --primary: #4ec9a7;
  --footer-bg: #f1f1f1;
  --header-bg: #f1f1f1;
  --navbar-c: #1e1e1e;
  --navbar-c-h: #000;
  --footer-c: #1e1e1e;
  --icon-react: #61dafb;
}
