:root {
  --none: transparent;
  --bg: #192129;
  --c: #fff;
  --primary: #4ec9a7;
  --footer-bg: #0c1015;
  --navbar-bg: transparent;
  --navbar-hex-bg: #26313b;
  --navbar-c: #94a6e0;
  --navbar-c-h: #fff;
  --footer-c: #888;
  --icon-react: #61dafb;
}
